.container{
    width:100%;
    height:100%;
    text-align: center;
}
.container:before{
    content:"";
    height:100%;
    display: inline-block;
    vertical-align: middle;
}
.index_center{
    display: inline-block;
    vertical-align: middle;
    height: 230px;
    /*margin: 0px auto;*/
    /*float:left;*/
    /*top:calc(50% - 115px);*/
}
.u_circle {
    position: relative;
    top: 0;
    width: 131px;
    height: 131px;
    z-index: 1;
    background: url(../../images/index_02o.png);
    /*background: rgba(0,0,0,0.7);*/
}
.logo_icon ,.enter_word{
    width: 131px;
    height: 131px;
    text-align: center;
    /* Firefox, Chrome */
    line-height : 111px;
}
.enter_word{line-height : 133px;}
.logo_icon:after ,.enter_word:after{
    content: '.';
    font-size: 0;
    -webkit-text-size-adjust : none;
}
.logo_icon img ,.enter_word img{
    vertical-align : middle;
}
.b_circle{
    position: relative;
    top: 100px;
    left: -131px;
    width: 131px;
    height: 131px;
    background: url(../../images/index_01o.png);
    z-index: 2;
}
.button_title{
    position: relative;
    top: 105px;
    left: -67px;
}
.menu_center{
    display: inline-block;
    vertical-align: middle;
    height: 308px;
    /*margin: 0px auto;*/
    /*float:left;*/
    /*top:calc(50% - 115px);*/
}
.about{
    top: -204px;
    left: -45px;
}
.photography{
    top: -204px;
    left: 15px;
}
.design{
    top: 134px;
    left:-15px;
}
.contact{
    top: 134px;
    left:45px;
}
.menu_btn{
    position: relative;
    width: 131px;
    height: 308px;
    z-index: 1;
}
.menu_background{
    position: relative;
    z-index: 1;
}
.menu_word_up{
    position: relative;
    z-index: 2;
    top: -80px;
}
.menu_word_down{
    position: relative;
    z-index: 2;
    top: -255px;
}